body {
  background-color: antiquewhite;
  padding: 15px;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: burlywood;
}
#sech {
  display: flex;
}
.imgh {
  height: 70px;
  width: 70px;
}
footer {
  display: flex;
  justify-content: space-between;
  background-color: burlywood;
}
select:valid,
input:valid {
  border-width: 3px;
  border-color: lightgreen;
  border-style: double;
  background-color: rgba(144, 238, 144, 0.474);
}
select:invalid,
input:invalid {
  border-width: 3px;
  border-color: lightpink;
  border-style: double;
  background-color: rgba(255, 182, 193, 0.475);
}
